<h1 style="text-align: center;">Welcome to <%= @user.username %>'s page'</h1>
<%= gravatar_for @user %>

<h4 style="text-align: center;"><%= @user.username %>'s article</h4>
<%= render partial: 'articles/article', object: @user.articles, as: :articles %>